* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#0f0f77 5%, #3535ec);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piano{

}
.piano-panel{
    height: 95px;
    background-color: #f71469;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    /*background-image: ;
    background-repeat: no-repeat;
    background-size: contain;
*/
}
/* .piano-panel img{
    width: 160px;
} */

.piano-keys{
    height: 195px;
    /* background-color: #000000; */
    display: flex;
}

.key{

}
.key-white{
    height: 100%;
    width: 64px;
    background-color: #ffffff;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 6px solid #8c8c8c;
    border-radius: 0 0 8px 8px;
}
.key-white:active, .key-black:active{
    border-bottom: none;
    filter: contrast(0.2);
}
.key-black{
    height: 60%;
    width: 44px;
    background: linear-gradient(#737373 10%, #0d0d0d);
    margin-left: -22px;
    margin-right: -22px;
    z-index: 1;
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid #8c8c8c;
    border-radius: 0 0 8px 8px;
}